html {
    margin-top: 0px !important;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #1d6ec1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wpcf7 form label[for="your-name"] {
    font-weight: bold;
}

.wpcf7 form label[for="your-email"] {
    font-weight: bold;
    margin-top: 8px;
    display: block;
}

.wpcf7 form label[for="your-subject"] {
    font-weight: bold;
    margin-top: 8px;
    display: block;
}

.wpcf7 form label[for="your-message"] {
    font-weight: bold;
    margin-top: 8px;
    display: block;
}

.wpcf7 form label[for="submit-button"] input {
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: #1d6ec1;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-items: center;
}

.wpcf7 form input[name="your-name"],
.wpcf7 form input[name="your-email"],
.wpcf7 form input[name="your-subject"],
.wpcf7 form textarea[name="your-message"] {
    border: solid 3px lightgray;
    border-radius: 8px;
    width: 100%;
    font-weight: normal;
    padding: 4px 0 4px 4px;
}

.page-title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
}

.woocommerce-result-count {
    margin: 1.5rem 0 3rem 0 !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: unset !important;
}

.woocommerce ul.products li.product .onsale {
    margin: unset;
}